### Practicing Pandas Library

In [8]:
import pandas as pd
import numpy as np

student_classes = {
    'Alice' : 'Physics',
    'Jack'  : 'Chemistry',
    'Molly' : 'English',
    'Sam'   : 'History'
}
s = pd.Series(student_classes)

In [10]:
s.iloc[3]
s

In [ ]:
numbers = pd.Series(np.random.randint(0,1000,10000))
#this will print the 4 first random number in the numbers list
print(numbers.head())

### Dataframe Data Structure

In [ ]:
import pandas as pd
record1 = pd.Series({'name':'Sara','Class':'Physics','Score':86})
record2 = pd.Series({'name':'Hana','Class':'Programming','Score':100})
record3 = pd.Series({'name':'Jack','Class':'Biology','Score':90})

df = pd.DataFrame([record1,record2,record3],index=['school1','school2','school3'])

# print(df.head())

In [ ]:
import pandas as pd

df = pd.read_csv('Resources/Admission_predict.csv')
df.head()

In [ ]:
#renaming the columns
import pandas as pd

df = pd.read_csv('Admission_predict.csv',index_col = 0)

new_df = df.rename(columns = {'GRE Score':'GRE Score',
                              'TOEFL Score': 'TOEFL Score', 
                              'University Ratting':'University Ratting',
                              'SOP':'Statement Of Purpose',
                              'LOR':'Letter Of Recommnedation',
                              'Chance of Admit':'Chance of Admit'
                              })
new_df.head()

##### By running the code above, only the name of the SOP column changed. Because if we get the name of the columns, we see that there is a space after LOR in the original name that we didn't include that in the code above

In [ ]:
new_df.columns  #this line will returns the original name of the columns in the csv file
new_df = df.rename(columns = {'LOR ':'Letter Of Recommnedation'})

### Querying Dataframe

### Indexing Dataframe